<% include partials/header.ejs %>
<% include partials/tagsContainer.ejs %>
<div class="container">
  <div class="container-header">
    <div>
      <p><span id="search-count"><%= count %></span> bookmarks found</p>
      <p>© Middle mouse click to open in new tab</p>
    </div>
    <div class="container-change">
      <button class="tooltip" id="change-display-btn">
        <img src="/images/grid-big.svg" alt="Change view" id="change-display-img">
        <span class="tooltip-text">Grid / List</span>
      </button>
      <button onclick="showToast('Sorting has yet to be implemented','warning')">
        <img src="/images/sort.svg" alt="Sort view">
      </button>
    </div>
  </div>
  <div class="container-content">
    <ul id="list-ul">
      <% for (var i = 0; i < datas.length; i++){ %>
        <li class="list-li">
          <div>
            <span class="<% if (datas[i].favorite) { %>tag-favorite<% } %>"></span>
            <% for (var j = 0; j < datas[i].tags.length; j++) { %>
              <span class="current-tag <%= datas[i].tags[j] %>"><%= datas[i].tags[j] %></span>
            <% } %>
            <% if (datas[i].tags.length === 0) { %>
              <span class="current-tag no-tags"></span>
            <% } %>
          </div>
            <a href="<%= datas[i].link %>" target="_blank">
              <div class="link-wrapper">
                <div class="thumbnail" style="background-image: url('https://www.google.com/s2/favicons?domain=<%= datas[i].link %>');"></div>
                <div class="link-text">
                  <p><%= datas[i].title %></p>
                  <p><%= datas[i].link %></p>
                </div>
              </div>

              <div class="actions">
                <label class="btn-fav tooltip">
                  <input type="checkbox" data-id="<%= datas[i]._id %>" <% if (datas[i].favorite) { %> checked <% } %>>
                  <!-- <img src="/images/heart.svg" alt="Favorite this bookmark"> -->
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path class="heart-full" d="M12,21.35,10.55,20C5.4,15.36,2,12.28,2,8.5A5.45,5.45,0,0,1,7.5,3,6,6,0,0,1,12,5.09,6,6,0,0,1,16.5,3,5.45,5.45,0,0,1,22,8.5c0,3.78-3.4,6.86-8.55,11.54Z"/><path class="heart-box" d="M0,0H24V24H0Z"/><path class="heart-border" d="M16.5,3A6,6,0,0,0,12,5.09,6,6,0,0,0,7.5,3,5.45,5.45,0,0,0,2,8.5C2,12.28,5.4,15.36,10.55,20L12,21.35,13.45,20C18.6,15.36,22,12.28,22,8.5A5.45,5.45,0,0,0,16.5,3ZM12.1,18.55l-.1.1-.1-.1C7.14,14.24,4,11.39,4,8.5A3.42,3.42,0,0,1,7.5,5a3.91,3.91,0,0,1,3.57,2.36h1.87A3.88,3.88,0,0,1,16.5,5,3.42,3.42,0,0,1,20,8.5C20,11.39,16.86,14.24,12.1,18.55Z"/></svg>
                  <span class="tooltip-text">Favorite</span>
                </label>

                <button type="button" data-id="<%= datas[i]._id %>" class="btn-delete tooltip"><img src="/images/delete.svg" alt="Delete bookmark"><span class="tooltip-text">Delete bookmark</span></button>
                <button type="button" data-id="<%= datas[i]._id %>" class="btn-edit tooltip"><img src="/images/edit.svg" alt="Edit bookmark"><span class="tooltip-text">Edit bookmark</span></button>
              </div>
            </a>
          </li>
          <% } %>
        </ul>
        <% if (datas.length === 0) { %>
          <div class="" id="no-bookmarks-initial">
            <img src="/images/no-bookmarks.svg" alt="Bookmarks logo blue">
            <strong>You haven't added any bookmarks yet!</strong>
            <p>Create a new bookmark up above.</p>
          </div>
        <% } %>
        <div class="" id="no-bookmarks">
          <img src="/images/no-bookmarks.svg" alt="Bookmarks logo blue">
          <strong>Your search for bookmarks has turned up empty!</strong>
          <p>No bookmarks match the selected tag & search queries</p>
          <p>try searching for something else..</p>
        </div>
  </div>
</div>

<div id="edit-modal" class="modal">
  <div class="modal-content animate">
    <div class="modal-header">
      <span class="modal-close">&times;</span>
      <p>Edit Bookmark</p>
    </div>
    <div class="modal-body" id="edit-body">
      <div id="errors-container-update" style="font-weight:700;color:red;">

      </div>
      <form id="put-update-bm">
        <div class="group">
          <input type="text" name="title-update" id="title-update" autocomplete="off">
          <label for="title-update">Title</label>
          <div class="bar"></div>
        </div>
        <div class="group">
          <input type="text" name="link-update" id="link-update" value="" autocomplete="off">
          <label for="link-update">Link</label>
          <div class="bar"></div>
        </div>
        <div class="group">
          <div class="tags">
            <div id="tag-typer-container-update"></div>
            <input type="text" name="tag-typer-update" id="tag-typer-update" value="" placeholder="Add tags (optional). Press comma to add more" autocomplete="off">
            <label for="tag-typer-update">Tags</label>
            <div class="bar"></div>
          </div>
          <ul id="suggested-tags-update">

          </ul>
        </div>
        <div class="edit-modal-buttons">
          <button type="reset" id="btn-cancel" class="btn-stripped">Cancel</button>
          <button type="submit" id="btn-update" class="btn">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div id="toast">Yo yo yooo</div>
<% include partials/overlay.ejs %>
<script type="text/javascript">
  // https://stackoverflow.com/questions/16098397/pass-variables-to-javascript-in-expressjs/16098699#16098699
  var allTagsArr = <%- JSON.stringify(uniqueTags) %>;
</script>
<script type="text/javascript" src="/assets/populate.js"></script>
<script type="text/javascript" src="/assets/interface.js"></script>
<script type="text/javascript" src="/assets/tagTyper.js"></script>
<script type="text/javascript" src="/assets/tagTyper2.js"></script>
<script type="text/javascript" src="/assets/ajax.js"></script>
</body>
</html>
